{% extends 'akiki/base.html' %}
{% load static %}
{% block title %}services {% endblock%}
{% block body %}
<br>
<br>

<!-- Services page -->
<div class="container-fluid pt-3 services ">
    <h2 class="text-center display-5 ">Our Services</h2>
    <hr class="my-4 ">
    <div class="row text-center ">
        <!-- Gypsum Ceilings of all designs -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">
            <i></i>
            <h4 class="m-10 ">Gypsum Ceilings of all designs</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/slide_3.jpg' %}"
                 loading="lazy" alt="Ceiling Image">
            <p>
            </p>
        </div>
        <!--  Gypsum Partitioning -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">

            <i></i>
            <h4 class=" p-20 ">Gypsum Partitioning in establishments</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/partition.jpg' %}"
                 loading="lazy" alt="Partition Image">
            <p>
            </p>
            <p></p>
        </div>
        <!-- Gypsum TV units and Cabinets -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">
            <i></i>
            <h4 class=" m-10 ">Gypsum TV units and Cabinets mounting</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/tv1.jpg' %}"
                 loading="lazy" alt="TV Image">
            <p>
            </p>

        </div>

        <!-- Gypsum Walls Niches for Flowers -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">
            <i></i>
            <h4 class=" m-10 ">Gypsum Walls Niches for Flowers, Curios etc</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/flower3.jpg' %}"
                 loading="lazy" alt="Flower Image">
            <p>
            </p>

        </div>
    </div>
    {% comment %} Services Row Two {% endcomment %}
    <div class="row text-center mt-2 ">
        <!-- Mouldings -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">
            <i></i>
            <h4 class="m-10 ">Gypsum Mouldings</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/moulding.jpg' %}"
                 loading="lazy" alt="Ceiling Image">
            <p>
            </p>
        </div>
        <!-- Installation of wallpapers -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">

            <i></i>
            <h4 class=" p-20 ">Installation of wallpapers</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/wallpaper.jpg' %}"
                 loading="lazy" alt="Partition Image">
            <p>
            </p>
            <p></p>
        </div>
        <!-- Wainscoting -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">
            <i></i>
            <h4 class=" m-10 ">Gypsum Wainscoting</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/scoting.jpg' %}"
                 loading="lazy" alt="TV Image">
            <p>
            </p>

        </div>

        <!-- Painting effects -->
        <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 ">
            <i></i>
            <h4 class=" m-10 ">Painting Effects</h4>
            <img class="rounded service-img" src="{% static 'akiki/images/paint.jpg' %}"
                 loading="lazy" alt="Flower Image">
            <p>
            </p>

        </div>
    </div>


</div>

{% endblock %}